# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
cloudscraper==1.2.71
astronomer-cosmos[dbt-bigquery]==1.0.3
